<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da velha Online</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <h1 class="jogoDaVelha">Jogo da Velha</h1>
        <ul class="buttons">
            <button class="button1" id="button1"></button>
            <button class="button2" id="button2"></button>
            <button class="button3" id="button3"></button>
            <button class="button4" id="button4"></button>
            <button class="button5" id="button5"></button>
            <button class="button6" id="button6"></button>
            <button class="button7" id="button7"></button>
            <button class="button8" id="button8"></button>
            <button class="button9" id="button9"></button>
            <input class="input1" id="input1"></input>
            <button class="button11" id="button11">name</button>
            <input class="input2" id="input2"></input>
            <button class="button12" id="button12">game id</button>
            <button class="button13" id="button13">Start game</button>
            <button class="button14" id="button14">Update game</button>
        </ul>
    </div>

    <script src="js/index.js"></script>
</body>
</html>