@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  background-color: #bed5f9;
  min-width: 1000px;
}

header {
  max-width: 100%;
  background-color: rgba(9,17,51,255);
  padding: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.5s;
  z-index: 1000;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: #f0ffffde;
  font-weight: bold;
}

header a:hover {
  color: #045ab0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.all {
  display: flex;
  justify-content: center;
  align-items: top; 
  min-height: 100vh;
}

.player-table {
  width: auto;
  padding: 20px 25px;
  background-color: #fff;
  margin: 30px 0;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.headers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #091133;
  color: #fff;
  padding: 16px 30px;
  border-radius: 20px;
}

.headers h2 {
  font-weight: 800;
}

.add{
  background-color: #5cb85c;
  color: white;
}

th{
  text-align: center;
  color: #091133;
}

.btn{
  text-transform: uppercase;
  padding: 3px 0px;
  width: 125px;
}

.btn-primary{
  color: #fff;
  font-size: 15px;
  background-color: #0284ff;
  border-color: #0284ff;
}

.form-wrapper{
  display: none;
}

.form-wrapper.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 100;
}

.playerForm{
  background-color: white;
  width: 600px;
  padding: 20px 50px;
  border-radius: 5px;
}

.form-control{
  width: 90%;
}

.group-email, .group-password, .group-nickname {
  display: none;
}

.group-email.active, .group-password.active, .group-nickname.active {
  display: flex;
  margin: 15px 0;
}

.group-email.active label, .group-password.active label, .group-nickname.active label {
  width: 130px;
  line-height: 40px;
  height: 40px;
}

.action{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  height: 100px;
  background-color: #091133;
  font-size: 17px;
  letter-spacing: 2px;
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: #bed5f9;       
}

body::-webkit-scrollbar-thumb {
  background-color: #091133;      
  border: 0; 
}