@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100vh;
}

.lobby {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #def4fa;
  min-height: 94vh;
  width: 100%;
}

.block {
  margin-top: 2%;
  background: url(/images/card2.jpg);
  background-size: 130%;
  background-position: center;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
  margin-left: 2%;
  align-items: center;
}

.block h1 {
  margin: 0;
  margin-top: 20px;
  position: absolute;
  letter-spacing: 2.5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  color: #ade4f3;
}

.header-block {
  /* background-color: var(--purple);  */
  margin-top: 80%;
  color: var(--white);
  border-radius: 0 0 0 0;
  font-size: 0.8rem;
  height: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-block input {
  margin-top: 10%;
  width: 73%;
  padding: 2.5%;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  background: #ade4f3;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  letter-spacing: 2.5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  border: none;
}

.header-block button {
  margin-top: 10%;
  width: 80%;
  padding: 2%;
  outline: none;
  font-size: 30px;
  font-weight: 800;
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
  background: #ade4f3;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  cursor: pointer;
  color: #2b134b;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
}

.online-players {
  margin-top: 2%;
  background: url(/images/card3.jpg);
  background-size: 130%;
  background-position: center;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
  margin-left: 2%;
  align-items: center;
}

.online-players > h1 {
  color: var(--white);
  font-size: 1.9rem;
  letter-spacing: 3px;
  margin-bottom: 3%;
}

.online-players > h2 {
  color: var(--white);
  letter-spacing: 3px;
  margin-bottom: 3%;
}

#players {
  width: 90%;
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 85%;
}

#players::-webkit-scrollbar {
  width: 20px;
}

#players::-webkit-scrollbar-thumb {
  background: #ade4f3;
  border-radius: 10px;
}

#players::-webkit-scrollbar-track {
  background-color: #201b2c;  /* Cor do fundo da barra de rolagem */
}

#players::-webkit-scrollbar-thumb:hover {
  background-color: #297d94; /* Cor do indicador ao passar o mouse sobre ele */
}

.player-box {
  font-family: 'Noto Sans', sans-serif;
  background: #ade4f3;
  border-radius: 10px;
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  letter-spacing: 3px;
}

.player-box > p {
  margin: 10px;
}

.player-box > img {
  max-width: 10%;
  height: auto;
  border-radius: 25%; 
  margin: 5px;
}

.player-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header {
  max-width: 100%;
  background-color: #201b2c; 
  padding: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.5s;
  z-index: 1000;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: #f0ffffde;
  font-weight: bold;
}

header a:hover {
  color: #00ff88;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#game-board {
  margin-top: 6%;
}

.row {
  display: flex;
}

.cell {
  flex: 1;
  width: 150px;
  height: 137px;
  margin: 1.5%;
  font-size: 120px;
  background-color: #201b2c;
  color: #f0ffffde;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
}

#logoutForm {
  margin: 0;
}

.placar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  margin: 0;
  margin-bottom: 5%;
}

.placar1 {
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 50%;
  height: 90px;
  background-color: #201b2c;
  align-items: center;
  justify-content: right;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
}

.placar2 {
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 50%;
  height: 90px;
  background-color: #201b2c;
  align-items: center;
  justify-content: left;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
}

.placar-data1 { 
  margin: 2%;
  color: #cccccc;
}

.placar-data2 {
  margin: 2%;
  color: #cccccc;
}

.placar-data1 > *, .placar-data2 > * {
  margin: 0;
  font-size: 20px;
}

.placar-data2 > * {
  text-align: right;
}

.placar-profile-img {
  width: 80px;
  height: 80px;
  height: auto;
  border-radius: 10%; 
}

.placar-profile-img:first-child {
  margin-left: 0.5%; 
}

.placar-profile-img:last-child {
  margin-right: 0.5%; 
}

.end-placar {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 100%;
  height: 90px;
  background-color: #201b2c;
  justify-content: center; 
  align-items: center;
  color: #cccccc;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
}

.end-game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.end-placar > h1 {
  font-size: 20px;
  margin: 0px 10px 14px;
}

.end-game-buttons > button {
  display: inline-block;
  margin: 0px 10px 0px;
  text-decoration: none;
  color: #201b2c;
  font-weight: bold;
  width: 250px; /* Largura fixa para ambos os botões */
  padding: 7px;
  border-radius: 15px;
  outline: none;
  text-transform: uppercase;
  font-size: 10pt;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.end-game-buttons > button:hover {
  background: #77ffc0;
  color: #201b2c;
}

/* chat */

:root{
  --dark: #0c0c0c;
  --white: #fff;
  --purple: #201b2c;
  --gray: #949494;
  --gray2: #cccccc;
}

.chat {
  margin-top: 1.2%;
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-questions{
  background-color: #201b2c; 
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 436px;
  width: 490px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
}

.header-chat{
  background-color: var(--purple); 
  color: var(--white);
  border-radius: 10px 10px 0 0;
  font-size: 1rem;
  max-height: 5%;
}

.footer{
  background-color: var(--purple);
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

.message-input {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-submit {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

.btn-submit:hover {
  cursor: pointer;
  transition: .4s;
  background-color: var(--gray);
}

#history{
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 90%;
  scrollbar-width: thin;
}

#history::-webkit-scrollbar {
  width: 12px;
}

#history::-webkit-scrollbar-thumb {
  background-color: #00ff88; /* Cor do indicador da barra de rolagem */
  border-radius: 10px;
}

#history::-webkit-scrollbar-track {
  background-color: #201b2c;  /* Cor do fundo da barra de rolagem */
}

#history::-webkit-scrollbar-thumb:hover {
  background-color: #77ffc0; /* Cor do indicador ao passar o mouse sobre ele */
}

.box-my-message{
  display: flex;
  justify-content: flex-end;
}

.box-response-message{
  display: flex;
  justify-content: flex-start;
}

.my-message,
.response-message{
  padding: 1rem;
  border-radius: 10px;
  color: white;
  margin: 0;
  white-space: pre-wrap; 
}

.my-message{
  text-align: right;
  background-color: var(--gray);
}

.response-message{
  text-align: left;
  background-color: var(--gray2);
}

/* deixar a pagina do jogo responsiva */

@media screen and (max-width: 1366px) {
  .container {
    flex-direction: column;
  }

  .box-questions {
    width: 440px;
  }

  .message-input {
    width: 78%;
  }

  .block, .online-players {
    width: 320px;
    height: 480px;
  }

  .online-players > h1, .block > h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .header-block > input {
    font-size: 16px;
  } 

  .header-block > button {
    font-size: 25px;
  }

  .player-box {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 960px) {
  header {
    justify-content: center;
  }

  header a {
    margin: 0 50px;
  }
}

@media screen and (max-width: 850px) {
  .lobby {
    flex-direction: column;
  }
  
  .placar-data1 > *, .placar-data2 > * {
    font-size: 20px;
  }

  .box-questions {
    width: 440px;
  }

  .message-input {
    width: 78%;
  }
}

@media screen and (max-width: 600px) {
  header a {
    margin: 0 30px;
  }

  .placar1, .placar2 {
    height: 70px;
  }

  .placar-data1 > *, .placar-data2 > * {
    font-size: 15px;
  }

  .placar-profile-img {
    width: 60px;
    height: 60px;
  }

  .cell {
    width: 100px;
    height: 100px;
    font-size: 90px;
    font: optional;
  }

  .box-questions {
    width: 295px;
  }

  .message-input {
    width: 65%;
  }

  .block, .online-players {
    width: 256px;
    height: 384px;
  }

  .online-players > h1, .block > h1 {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .header-block > input {
    font-size: 12px;
  } 

  .header-block > button {
    font-size: 20px;
  }

  .player-box {
    font-size: 0.9rem;
  }
}


