@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  max-height: 100vh;
  background-color: #bed5f9;
}

header {
  max-width: 100%;
  background-color: rgba(9,17,51,255);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 1000;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: #f0ffffde;
  font-weight: bold;
}

header a:hover {
  color: #045ab0;
}

.lobby {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: 88vh;
  width: 100%;
}

.block {
  margin-top: 2%;
  background: url(../images/comp-cat-card.png);
  background-color: #091133;
  background-size: 130%;
  background-position: center;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
  margin-left: 2%;
  align-items: center;
}

.block h1 {
  margin: 0;
  margin-top: 20px;
  position: absolute;
  letter-spacing: 2.5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  color: #fff;
}

.header-block {
  margin-top: 80%;
  color: var(--white);
  border-radius: 0 0 0 0;
  font-size: 0.8rem;
  height: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-block p {
  font-size: 14px;
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: left;
  width: 75%;
}

.header-block input {
  width: 73%;
  padding: 2.5%;
  font-size: 25px;
  text-align: center;
  border-radius: 10px;
  background: #bed5f9;
  box-shadow: 0px 10px 40px -12px #0284ff;
  letter-spacing: 2.5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  border: none;
}

.header-block input::placeholder {
  color: #545b72;
}

.header-block button {
  margin-top: 10%;
  width: 80%;
  padding: 2%;
  outline: none;
  font-size: 30px;
  font-weight: 800;
  border-radius: 10px;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  cursor: pointer;
  background: #0284ff;
  letter-spacing: 3px;
  text-transform: uppercase;
  border: none;
}

.header-block button:hover {
  background-color: #045ab0;
}

.online-players {
  margin-top: 2%;
  background-color: #091133;
  background-size: 130%;
  background-position: center;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
  margin-left: 2%;
  align-items: center;
}

.online-players > h1 {
  color: var(--white);
  font-size: 1.9rem;
  letter-spacing: 3px;
  margin-bottom: 3%;
}

.online-players > h2 {
  color: var(--white);
  letter-spacing: 3px;
  margin-bottom: 3%;
}

#players {
  width: 90%;
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 85%;
}

#players::-webkit-scrollbar {
  width: 20px;
}

#players::-webkit-scrollbar-thumb {
  background: #ade4f3;
  border-radius: 10px;
}

#players::-webkit-scrollbar-track {
  background-color: #091133; 
}

#players::-webkit-scrollbar-thumb:hover {
  background-color: #297d94; 
}

.player-box {
  font-family: 'Noto Sans', sans-serif;
  border-radius: 10px;
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  letter-spacing: 3px;
  color: #fff;
  background-color: #0284ff;
}

.player-box > p {
  margin: 10px;
}

.player-box > img {
  max-width: 10%;
  height: auto;
  border-radius: 25%; 
  margin: 5px;
}

.player-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#game-board {
  margin-top: 6%;
  margin-right: 6%;
  background-color: #091133;
}

.row {
  display: flex;
}

.message-turn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P';
  font-weight: 500;
  font-style: normal;
  margin: 0;
}

.message-turn-div > h1 {
  margin: 0;
}

.cell {
  flex: 1;
  width: 146px;
  height: 138px;
  margin: 1.8%;
  background-color: #bed5f9;
  color: #091133;
  border: none;
  cursor: pointer;
  font-size: 120px;
  font-family: "Delicious Handrawn", cursive;
  font-weight: 640;
  font-style: normal;
}

.cell1, .cell2, .cell3 {
  margin-top: 0;
}

.cell3, .cell6, .cell9 {
  margin-right: 0;
}

.cell1, .cell4, .cell7 {
  margin-left: 0;
}

.cell7, .cell8, .cell9 {
  margin-bottom: 0;
}

#logoutForm {
  margin: 0;
}

.placar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0;
  margin-bottom: 3%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.placar1 {
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 50%;
  height: 90px;
  background-color: #091133;
  align-items: center;
  justify-content: right;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Press Start 2P';
}

.placar2 {
  display: flex;
  flex-direction: row;
  margin: 0;
  min-width: 50%;
  height: 90px;
  background-color: #091133;
  align-items: center;
  justify-content: left;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
  font-family: 'Press Start 2P';
}

.placar-data1 { 
  margin: 2%;
  color: #cccccc;
}

.placar-data2 {
  margin: 2%;
  color: #cccccc;
}

.placar-data1 > *, .placar-data2 > * {
  margin: 3px 0 0;
  font-size: 15px;
}

.placar-data2 > * {
  text-align: right;
}

.placar-profile-img {
  width: 80px;
  height: 80px;
  height: auto;
  border-radius: 10%; 
}

.placar-profile-img:first-child {
  margin-left: 0.5%; 
}

.placar-profile-img:last-child {
  margin-right: 0.5%; 
}

.end-placar {
  display: flex;
  margin: 0;
  flex-direction: column;
  width: 100%;
  height: 90px;
  background-color: #091133;
  justify-content: center; 
  align-items: center;
  color: #cccccc;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
}

.end-game-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.end-placar > h1 {
  font-size: 15px;
  margin: 0px 10px 14px;
  font-family: 'Press Start 2P';
  letter-spacing: 3px;
  font-weight: 700;
}

.end-game-buttons > button {
  display: inline-block;
  margin: 0px 10px 0px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  width: 270px;
  padding: 7px;
  border-radius: 15px;
  outline: none;
  text-transform: uppercase;
  font-size: 10pt;
  background: #0284ff;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  font-family: 'Press Start 2P';
  letter-spacing: 2px;
}

.end-game-buttons > button:hover {
  background: #045ab0;
}

/* chat */

:root{
  --dark: #0c0c0c;
  --white: #fff;
  --purple: #091133;
  --gray: #949494;
  --gray2: #cccccc;
}

.chat {
  margin-top: 1.2%;
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-questions{
  background-color: #091133; 
  color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 436px;
  width: 490px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.5);
}

.header-chat{
  background-color: var(--purple); 
  color: var(--white);
  border-radius: 10px 10px 0 0;
  font-size: 1rem;
  max-height: 5%;
}

.footer {
  background-color: var(--purple);
  border-radius: 0 0 10px 10px;
  padding: 1rem;
}

.message-input {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-submit {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  background-color: #0284ff;
}

.btn-submit:hover {
  background-color: #045ab0;
  cursor: pointer;
  transition: .4s;
}

#history{
  padding: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  width: 90%;
  scrollbar-width: thin;
}

#history::-webkit-scrollbar {
  width: 12px;
}

#history::-webkit-scrollbar-thumb {
  background-color: #0284ff;
  border-radius: 10px;
}

#history::-webkit-scrollbar-track {
  background-color: #091133; 
}

#history::-webkit-scrollbar-thumb:hover {
  background-color: #045ab0; 
}

.box-my-message{
  display: flex;
  justify-content: flex-end;
}

.box-response-message{
  display: flex;
  justify-content: flex-start;
}

.my-message,
.response-message{
  padding: 1rem;
  border-radius: 10px;
  color: white;
  margin: 0;
  white-space: pre-wrap; 
}

.my-message{
  text-align: right;
  background-color: var(--gray);
}

.response-message{
  text-align: left;
  background-color: var(--gray2);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  height: 100px;
  background-color: #091133;
  font-size: 17px;
  letter-spacing: 2px;
  margin-top: 10%;
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: #bed5f9;       
}

body::-webkit-scrollbar-thumb {
  background-color: #091133;      
  border: 0; 
}

/* responsividade */

@media screen and (max-width: 1366px) {
  .container {
    flex-direction: column;
  }

  .box-questions {
    width: 440px;
  }

  .message-input {
    width: 78%;
  }

  .block, .online-players {
    width: 320px;
    height: 480px;
  }

  .online-players > h1, .block > h1 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .header-block > p {
    font-size: 12px;
  }

  .header-block > input {
    font-size: 20px;
  } 

  .header-block > button {
    font-size: 25px;
  }

  .player-box {
    font-size: 1.2rem;
  }

  footer {
    margin-top: 10%;
  }

  .footer {
    width: 92.9%;
  }
}

@media screen and (max-width: 960px) {
  header {
    justify-content: center;
  }

  header a {
    margin: 0 50px;
  }

  .placar-data1 > *, .placar-data2 > * {
    font-size: 13px;
  }

  .message-turn-div {
    font-size: 80%;
  }
}

@media screen and (max-width: 850px) {
  body {
    max-width: 850px;
    width: 100%;
  }
  
  footer {
    max-width: auto;
  } 

  header a {
    margin: 0 30px;
  }

  .lobby {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .placar1, .placar2 {
    height: 70px;
  }

  .placar-data1 > *, .placar-data2 > * {
    font-size: 8px;
  }

  .placar-profile-img {
    width: 60px;
    height: 60px;
  }
  
  .box-questions {
    width: 440px;
  }

  .message-input {
    width: 78%;
  }

  .message-turn-div {
    font-size: 75%;
  }
}

@media screen and (max-width: 630px) {
  header a {
    margin: 0 30px;
  }

  .placar1, .placar2 {
    height: 70px;
  }

  .placar-data1 > *, .placar-data2 > * {
    font-size: 6px;
    margin-top: 1%;
    margin-bottom: 3%;
  }

  .cell {
    width: 100px;
    height: 100px;
    font-size: 90px;
    font: optional;
  }

  .box-questions {
    width: 295px;
  }

  .message-input {
    width: 65%;
  }

  .block, .online-players {
    width: 256px;
    height: 384px;
  }

  .online-players > h1, .block > h1 {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  .header-block > p {
    font-size: 10px;
  }

  .header-block > input {
    font-size: 12px;
  } 

  .header-block > button {
    font-size: 20px;
  }

  .player-box {
    font-size: 0.9rem;
  }
  
  .end-placar > h1 {
    font-size: 10px;
  }
  
  .end-game-buttons > button {
    font-size: 6pt;
    width: 210px;
  }

  .footer {
    width: 89%;
  }

  .message-turn-div {
    font-size: 53%;
  }
}

@media screen and (max-width: 450px) {
  #game-container {
    margin-top: 0;  
  }
  
  .placar-profile-img {
    width: 40px;
    height: auto;
    border-radius: 10%; 
  }
  
  .placar1, .placar2 {
    height: 50px;
  }
  
  .placar-data1 > *, .placar-data2 > * {
    font-size: 5.4px;
    margin-top: 1%;
    margin-bottom: 2%;
  }

  .message-turn-div {
    font-size: 40%;
  }
}



