@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100vh;
  background-color: #201b2c;
}

header {
  max-width: 100%;
  background-color: #201b2c; 
  padding: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.5s;
  z-index: 1000;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: #f0ffffde;
  font-weight: bold;
}

header a:hover {
  color: #00ff88;
}

.container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

form > h1 {
  color: #00ff88;
  font-weight: 800;
  margin: 0 0 6%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 0 6%;
}

.text-field > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.text-field > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.text-field > input::placeholder {
  color: #f0ffff94;
}

.submit {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 15px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  margin: 0;
}

.span-required{
  font-size: 12px;
  margin: 3px 0 0 1px;
  color: var(--color-red);
  display: none;
}

.span-required-error {
  color: red; /* Ou qualquer outra cor desejada */
}