<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da velha Online</title>
    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
      }

      .row {
        display: flex;
      }

      .cell {
        width: 100px;
        height: 100px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .cell:hover {
        background-color: lightgray;
      }

    </style>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div align="center" id="div1">
      <h1 class="" id="token"><%= token %></h1>
      <h1 class="" id="nickname"><%= nickname %></h1>
      <input class="input2" id="oponentNickname" placeholder="nome do oponente"></input>
      <button class="button13" id="Startgame">Start game</button>
    </div>
    <div class="container">
      <div class="row">
        <button class="cell" id="0"></button>
        <button class="cell" id="1"></button>
        <button class="cell" id="2"></button>
      </div>
      <div class="row">
        <button class="cell" id="3"></button>
        <button class="cell" id="4"></button>
        <button class="cell" id="5"></button>
      </div>
      <div class="row">
        <button class="cell" id="6"></button>
        <button class="cell" id="7"></button>
        <button class="cell" id="8"></button>
      </div>
    </div>
    <script>
      function executar() {
        const socket = io();
        const startGameButton = document.querySelector('#Startgame');
        const buttons = [];
        const nickname = document.querySelector('#nickname').textContent;

        // deixa o usuario disponivel para ser convidado para alguma partida
        socket.emit('activePlayer', nickname);

        // colocando as funções nos botões do jogo da velha
        for (let i = 0; i < 3; i++) {
          buttons.push([]);
          for (let j = 0; j < 3; j++) {
            const buttonId = i * 3 + j;
            const button = document.getElementById(buttonId);
            buttons[i].push(button);

            // envia uma soliticao de marcar um ponto para o servidor
            // se existir um jogo rolando com o socket.id do usuario ele marca o ponto neste jogo
            button.addEventListener('click', () => {
              socket.emit('point', i, j); 
            });
          }
        }

        // inicia um novo joga com o jogador do nick passado caso ele esteja online
        startGameButton.addEventListener('click', () => {
          socket.emit('invitePlayer', document.querySelector('#oponentNickname').value);
        });

        // caso o jogador atual ou online estejam em partida e o jogador atual fez uma solicitacao
        socket.on('inviteError', (body) => {
          document.querySelector('#oponentNickname').value = ''
          document.querySelector('#oponentNickname').placeholder = body.message
        })

        // reseta a cor do jogo quando o jogo inicia
        socket.on('gameStart', () => {
          for (let i = 0; i < 3; i++) {
            for (let j = 0; j < 3; j++) {
              buttons[i][j].style.backgroundColor = "yellow";
            }
          }
        })

        // recebe o estado do jogo da velha e atualiza o cliente
        socket.on('gameStatus', (match) => {
          let gameEnd = false;

          if (match.winner) {
            console.log('Vencedor: ' + match.winner);
            gameEnd = true;
          } else if (match.tie) {
            console.log('Empate');
            gameEnd = true;
          }

          for (let i = 0; i < 3; i++) {
            for (let j = 0; j < 3; j++) {
              buttons[i][j].textContent = match.gameState[i][j].point

              let player = match.gameState[i][j].nickname
              let point = match.gameState[i][j].point

              // botao fica verde para quem marca e vermelho para o oponente
              if (point == 'X' || point == 'O') {
                if (player == nickname) {
                  buttons[i][j].style.backgroundColor = "green";
                } else {
                  buttons[i][j].style.backgroundColor = "red";
                }
              } 

            }
          }

          if (gameEnd) {
            const playAgainButton = document.createElement('button')
            playAgainButton.textContent = 'Play again!'
            document.getElementById('div1').appendChild(playAgainButton)

            playAgainButton.addEventListener('click', () => {
              socket.emit('playAgain')
              document.getElementById('div1').removeChild(playAgainButton)
            })
          }
        });
      }

      executar();
    </script>
</body>
</html>
