<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogo da Velha Online</title>
  <link rel="shortcut icon" href="/images/logo.png">
  <link rel="stylesheet" href="/stylesheets/forgotPassword.css" />
</head>
<body>
  <header>
    <a href="http://localhost:3000/" id="contactLink">Menu</a>
    <a href="http://localhost:3000/login" id="contactLink">Entrar</a>
    <a href="http://localhost:3000/register" id="contactLink">Registre-se</a>
  </header>
  <div class="container">
    <div class="forgot-password">
      <form action="http://localhost:3000/user/forgot-password" id="form" method="post">
        <h1>Recuperação de senha</h1>
        <div class="text-field">
          <label for="email">Digite o email cadastrado para recuperar sua senha:</label>
          <input class="required" type="text" id="email" name="email" placeholder="Email" autocomplete="email">
          <span class="span-required span-required-error">Digite um email válido</span>
        </div>
        <button class="submit" type="submit">Enviar</button>    
      </form> 
    </div>
  </div>
  <script src="/javascript/forgotPassword.js"></script>
</body>
</html>