<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha Online</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/game.css">
</head>
<body>
  <script>
    // Crie uma variável JavaScript para armazenar o valor de userdata.nickname
    var userNickname = "<%= userdata.nickname %>";
  </script>
  <div>
    <header>
      <a href="http://localhost:3000/" id="contactLink">Home</a>
      <a href="http://localhost:3000/logout" id="logoutButton">Sair</a>
    </header>
  </div>
  <div class="lobby" id="lobby">
    <div class="block">
      <div class="player-list">
        <h2>Jogadores Online</h2>
        <ul id="player-list">
      </div>
    </div>
  </div>
  <div class="all" id="all">
    <div class="placar-container" id="placar-container"></div>
    <div class="container">
        <div id="game-container">
            <div id="game-board">
                <div class="row">
                    <button class="cell" id="0"></button>
                    <button class="cell" id="1"></button>
                    <button class="cell" id="2"></button>
                </div>
                <div class="row">
                    <button class="cell" id="3"></button>
                    <button class="cell" id="4"></button>
                    <button class="cell" id="5"></button>
                </div>
                <div class="row">
                    <button class="cell" id="6"></button>
                    <button class="cell" id="7"></button>
                    <button class="cell" id="8"></button>
                </div>
            </div>
        </div>
        <div class="chat-container">
            <div class="chat"></div>
        </div>
    </div>
  </div>
  <script src="/javascript/game.js"></script>
</body>
</html>
