<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha Online</title>
    <base href="<%= baseUrl %>"/>
    <link rel="shortcut icon" href="images/logo.png">
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="stylesheets/game.css">
</head>
<body>
  <div class="all">
    <div>
      <header>
        <a href="">Menu</a>
        <a href="game">Lobby</a>
        <a href="settings" id="settingsPageLink">Configurações</a>
        <a href="logout" id="logoutButton">Sair</a>
      </header>
    </div>
    <div class="lobby" id="lobby">
      <div class="block">
        <h1 class="nickname"></h1>
        <div class="header-block">
          <p>Iniciar partida contra um Jogador:</p>
          <input placeholder="NICKNAME" type="text" id="inputFriendName">
          <button id="startGameButton">iniciar partida</button>
        </div>
      </div>
      <div class="online-players">
        <h1>Jogadores no lobby</h1>
        <div id="players">
        </div>
      </div>
    </div>

    <div class="placar-container" id="placar-container">
    </div>

    <div class="container">
        <div id="game-container">
            <div id="game-board">
                <div class="row">
                    <button class="cell" id="0"></button>
                    <button class="cell" id="1"></button>
                    <button class="cell" id="2"></button>
                </div>
                <div class="row">
                    <button class="cell" id="3"></button>
                    <button class="cell" id="4"></button>
                    <button class="cell" id="5"></button>
                </div>
                <div class="row">
                    <button class="cell" id="6"></button>
                    <button class="cell" id="7"></button>
                    <button class="cell" id="8"></button>
                </div>
            </div>
        </div>
        <div class="chat">
          <div class="box-questions">
            <div class="header-chat">
              <p>Chat</p>
            </div>
            <p id="status"></p>
            <div id="history">
            </div>
            <div class="footer">
              <input class="message-input" type="text" id="message-input" placeholder="Digite aqui">
              <button class="btn-submit" id="btn-submit" onclick="sendMessage()">Enviar</button>
            </div>
          </div>
        </div>
    </div>
  </div>
  <footer>
    <p>Criado por Paulo Henrique</p>
  </footer>
  <script src="javascript/game.js"></script>
</body>
</html>
