<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <header>
        <div class="container" id="container">
            <h1>Jogo da velha online</h1>
            <nav>
                <ul>
                  <a href="http://localhost:3000/login">Login</a><br>
                  <a href="http://localhost:3000/register">Register</a>
            </nav>
        </div>
    </header>
    
    <section class="content">
        <div class="container">
            <p>Bem-vindo ao jogo da velha online, crie uma conta ou faça login para começar.</p>
        </div>
    </section>
    <script src="/javascript/home.js"></script>
</body>
</html>
