<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha Online</title>
    <link rel="shortcut icon" href="/jogodavelha/images/logo.png">
    <link rel="stylesheet" href="/jogodavelha/stylesheets/home.css">
</head>
<body>
    <header>
        <a href="https://paulodev.me" id="menuLink">Voltar</a>
        <a href="#about" id="aboutLink">Sobre</a>
    </header>

    <div class="menu" id="menu">
      <div class="home">
        <div class="logo">
            <h1>Jogo <br> da Velha Online</h1>
        </div>

        <div class="buttons">
            <a href="login">Entrar</a>
            <a href="register">Registre-se</a>
        </div>
      </div>

        <div class="about" id="about">
          <div class="container">  
              <div class="portfolio">
                <img src="/jogodavelha/images/paulohenrique.jpg" alt="">
              </div>

              <div class="text-content">
                <h1>Sobre o Jogo da Velha Online</h1>
                <h2>Este é o projeto final da capacitação back-end da empresa júnior <a href="https://compjunior.com.br/" target="_blank" class="comp-junior">Comp Júnior</a> da Universidade Federal de Lavras.</h2>
                <h2>Criado por Paulo Henrique.
              </div>
          </div>

          <div class="buttons-and-icons">
            <div class="socialbtns">
              <ul>
                <li><a href="https://github.com/paulohenrique64" class="fa fa-lg fa-github" target="_blank" align="center"></a></li>
                <li><a href="https://www.linkedin.com/in/paulo-henrique-218708281/" class="fa fa-lg fa-linkedin" target="_blank" align="center"></a></li>
                <li><a href="https://www.instagram.com/paulohenrique_64/" class="fa fa-lg fa-instagram" target="_blank" align="center"></a></li>
              </ul>
            </div>
            <div class="icons">
              <img class="node" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" />
              <img class="socketio" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/socketio/socketio-original.svg" />
              <img class="express" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg" />
              <img class="html" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
              <img class="css" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
              <img class="javascript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
            </div>
          </div>
      </div>
    </div>
    <footer>
      <p>Criado por Paulo Henrique</p>
    </footer>
    <script src="/jogodavelha/javascript/home.js"></script>
</body>
</html>
