<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha Online</title>
    <base href="<%= baseUrl %>"/>
    <link rel="shortcut icon" href="images/logo.png">
    <link rel="stylesheet" href="stylesheets/home.css">
</head>
<body>
    <header>
        <a href="https://paulodev.me" id="menuLink">Voltar</a>
        <iframe 
          src="https://ghbtns.com/github-btn.html?user=paulohenrique64&repo=jogo-da-velha-online&type=star&count=true&size=large" frameborder="0"
          scrolling="0"
          width="140"
          height="30"
          title="GitHub">
        </iframe>
    </header>

    <div class="menu" id="menu">
      <div class="home">
        <div class="logo">
            <h1>Jogo <br> da Velha Online</h1>
        </div>

        <div class="buttons">
            <input class="required" type="text" placeholder="DIGITE UM NICKNAME">
            <span class="span-required span-required-error">O nickname deve ter entre 3 e 15 caracteres</span>
            <a class="start-game-button">Entrar no jogo</a>
        </div>
      </div>
    </div>
    <footer>
      <p>Criado por Paulo Henrique</p>
    </footer>
    <script src="javascript/home.js"></script>
</body>
</html>
