<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Velha Online</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <header>
        <a href="http://localhost:3000/" id="contactLink">Menu</a>
        <a href="#about" id="aboutLink">Sobre</a>
    </header>

    <main>
        <div class="logo">
            <h1>Jogo <br> da Velha Online</h1>
        </div>

        <div class="buttons">
            <a href="http://localhost:3000/login">Entrar</a>
            <a href="http://localhost:3000/register">Registre-se</a>
        </div>

        <div class="about" id="about">
            <h2>Sobre o Jogo da Velha Online</h2>
        </div>
    </main>
    <script src="/javascript/home.js"></script>
</body>
</html>
