<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Tic Tac Toe</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <header>
        <a href="http://localhost:3000/" id="contactLink">Home</a>
        <a href="#about" id="aboutLink">About</a>
    </header>

    <main>
        <div class="logo">
            <h1>Super <br> Tic Tac Toe</h1>
        </div>

        <div class="buttons">
            <a href="http://localhost:3000/login">Login</a>
            <a href="http://localhost:3000/register">Register</a>
        </div>

        <div class="about" id="about">
            <h2>About Super Tic Tac Toe</h2>
        </div>
    </main>
    <script src="/javascript/home.js"></script>
</body>
</html>
