<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Login</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    <h1 class="" id="uid"><%= error %></h1>
    <div class="container">
      <form action="http://localhost:3000/auth/login/user" id="form" method="post">
        <h1>Login</h1>
        <label for="email">E-mail:</label>
        <input type="email" name="email" required />

        <label for="senha">Senha:</label>
        <input type="password" name="password" required />

        <button type="submit">Entrar</button>
      </form>
        <p>Não possui uma conta? <a href="http://localhost:3000/auth/register">Registre-se aqui</a></p>
    </div>
    <script src="/javascript/login.js"></script>
  </body>
</html>
