<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jogo da Velha Online</title>
    <link rel="shortcut icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    <header>
      <a href="/" id="contactLink">Menu</a>
      <a href="login" id="contactLink">Entrar</a>
      <a href="register" id="contactLink">Registre-se</a>
    </header>
    <div class="main-login">
      <div class="left-login">
        <h1>Entre<br>E comece a jogar</h1>
      </div>
      <form action="login" id="form" method="post">
        <div class="right-login">
          <div class="card-login">
            <h1>Entrar</h1>
            <div class="text-field">
              <label for="email">Email</label>
              <input class="required" type="text" id="email" name="email" placeholder="Email" autocomplete="email">
              <span class="span-required span-required-error">Digite um email válido</span>
            </div>
            <div class="text-field">
              <label for="password">Senha</label>
              <input class="required" type="password" id="password" name="password" placeholder="Senha" autocomplete="current-password">
              <span class="span-required span-required-error">Senha deve ter no mínimo 8 caracteres</span>
            </div>
              <button class="submit" type="submit">Entrar</button>    
              <p>Esqueceu sua senha? <a href="forgot-password">Clique aqui</a></p> 
          </div>
        </div>
      </form> 
    </div>
    <script src="/javascript/login.js"></script>
  </body>
</html>
