<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jogo da Velha Online</title>
  <link rel="shortcut icon" href="/images/logo.png">
  <link rel="stylesheet" href="/stylesheets/resetPassword.css" />
</head>
<body>
  <script>var resetPasswordToken = "<%= resetPasswordToken %>"</script>
  <header>
    <a href="/" id="contactLink">Menu</a>
    <a href="login" id="contactLink">Entrar</a>
    <a href="register" id="contactLink">Registre-se</a>
  </header>
  <div class="container">
    <div class="reset-password">
      <form action="user/password/<%= resetPasswordToken %>" id="form" method="post">
        <h1>Redefinição de senha</h1>
        <div class="text-field">
          <label for="password">Digite sua nova senha:</label>
          <input class="required" type="password" id="password" name="password" placeholder="Senha" autocomplete="current-password">
          <span class="span-required span-required-error">Senha deve ter no mínimo 8 caracteres</span>
        </div>
        <div class="text-field">
          <label for="password">Repita sua senha:</label>
          <input class="required" type="password" id="password" name="password" placeholder="Repita a senha" autocomplete="current-password">
          <span class="span-required span-required-error">Senhas não coincidem</span>
        </div>
        <button class="submit" type="submit">Enviar</button>    
      </form> 
    </div>
  </div>
  <script src="/javascript/resetPassword.js"></script>
</body>
</html>