<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
  </head>
  <body>
    <header>
      <a href="http://localhost:3000/" id="contactLink">Home</a>
    </header>
    <div class="main-register">
      <div class="left-register">
        <h1>Faça register<br>E comece a jogar</h1>
      </div>
      <form action="http://localhost:3000/register/user/" id="form" method="post">
        <div class="right-register">
          <div class="card-register">
            <h1>register</h1>
            <div class="text-field">
              <label for="nickname">Nickname</label>
              <input type="text" name="nickname" placeholder="nickname">
            </div>
            <div class="text-field">
              <label for="email">Email</label>
              <input type="text" name="email" placeholder="email">
            </div>
            <div class="text-field">
              <label for="password">Senha</label>
              <input type="password" name="password" placeholder="Senha">
            </div>
            <button type="submit" class="btn-register">register</button>
          </div>
        </div>
      </form>
    </div>
    <script src="/javascript/signup.js"></script>
  </body>
</html>
