<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página de Registro</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
  </head>
  <body>
    <div class="container" id="container">
      <form action="http://localhost:3000/auth/register/user" id="form" method="post">
        <h1>Registro de Usuário</h1>
        <label for="name">Nome:</label>
        <input type="text" name="name" required />

        <label for="name">Nickname:</label>
        <input type="text" name="nickname" required />

        <label for="email">E-mail:</label>
        <input type="email" name="email" required />

        <label for="password">Senha:</label>
        <input type="password" name="password" required />

        <button type="submit" class="submit">
          Confirmar Registro
        </button>
        <p>Já possui uma conta? <a href="http://localhost:3000/auth/login">Faça login</a></p>
      </form>
    </div>
    <script src="/javascript/signup.js"></script>
  </body>
</html>
