<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jogo da Velha Online</title>
    <link rel="shortcut icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/signup.css" />
  </head>
  <body>
    <header>
      <a href="/" id="contactLink">Menu</a>
      <a href="login" id="contactLink">Entrar</a>
      <a href="register" id="contactLink">Registre-se</a>
    </header>
    <div class="main-register">
      <div class="left-register">
        <h1>Crie uma conta<br />e comece a jogar</h1>
      </div>
      <form action="register" id="form" method="post">
        <div class="right-register">
          <div class="card-register">
            <h1>Registro</h1>
            <div class="text-field">
              <label for="nickname">Nickname</label>
              <input class="required" type="text" name="nickname" placeholder="Nickname" />
              <span class="span-required span-required-error">Nickname deve ter no mínimo 3 caracteres</span>
            </div>
            <div class="text-field">
              <label for="email">Email</label>
              <input class="required" type="text" name="email" placeholder="Email" />
              <span class="span-required span-required-error">Digite um email válido</span>
            </div>
            <div class="text-field">
              <label for="password">Senha</label>
              <input class="required" type="password" name="password" placeholder="Senha" />
              <span class="span-required span-required-error">Senha deve ter no mínimo 8 caracteres</span>
            </div>
            <div class="text-field">
              <label for="password">Confirmar senha</label>
              <input class="required" type="password" name="password" placeholder="Senha" />
              <span class="span-required span-required-error">Senhas não coincidem</span>
            </div>
            <button type="submit" class="btn-register">registrar</button>
            <p>
              Já possui uma conta?
              <a href="login">Faça login</a>
            </p>
          </div>
        </div>
      </form>
    </div>
    <script src="/javascript/signup.js"></script>
  </body>
</html>
